.App {
  max-width: 768px;
  margin: 0 auto;
  border: 1px dotted red;
}

.App main {
  text-align: center;
}

.Label {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
}

.Input {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

.Button {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
}

.CenterFormContainer {
  display: flex;
  justify-content: center;
}

.AlignRight {
  text-align: right;
}

form .Button {
  margin-top: 1rem;
}

.Button:hover {
  background: lightgreen;
}

input:hover {
  background: lightgreen;
}
