.App {
  max-width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #C3C3C3;
  box-shadow: 0 0px 10px 0 rgba(0,0,0,.2);
  border-radius: 10px;
  overflow: hidden;
}

.App main {
  text-align: center;
  margin-bottom: 3rem;
}

.Label {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
}

.Input {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

.Button {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
}

.DemoCredentials {
  display: flex;
  justify-content: center;
}

.DemoCredentials div {
  background-color: rgba(252, 226, 196, 0.3);
  padding: 0.5rem;
  border: 1px solid #fbca93;
  border-radius: 5px;
}

.DemoCredentials ul {
  padding: 0;
  list-style-type: none;
}

.CenterFormContainer {
  display: flex;
  justify-content: center;
}

.AlignLeft {
  text-align: left;
}

.AlignRight {
  text-align: right;
}

form .Button {
  margin-top: 1rem;
}

a {
  color: #1285e6;
}

a:hover {
  color: #E26D5A;
}

.FormError {
  color: red;
  font-weight: bold;
}
