header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: lightgray;
  margin-bottom: 2rem;
}

header h1 {
  margin: 0;
}

header h1 a {
  text-decoration: none;
  color: black;
}

header nav a {
  text-decoration: none;
  padding: 0.5rem;
}

header nav a:hover {
  color: red;

}
