header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fbca93;
  margin-bottom: 3rem;
}

header h1 {
  margin: 0;
  color: #2d2d2d;
}

header h1 a {
  text-decoration: none;
  color: #2d2d2d;
}

header nav a {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem;
}

header nav a:hover {
  color: red;

}
