header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fbca93;
  border-bottom: 1px solid #e0b07a;
  margin-bottom: 3rem;
}

header h1 {
  margin: 0;
}

header h1 a {
  text-decoration: none;
  color: #2d2d2d;
}

header h1 a:hover {
  color: #2d2d2d;
}

header .UserControls {
  text-align: right;
}

header .UserName {
  font-size: 1.1rem;
  padding: 0.5rem;
  display: inline-block;

}

header nav {
  display: inline-block;
}

header nav a {
  color: #2d2d2d;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

header nav a:hover {
  color: #E26D5A;
  background-color: #FCE2C4;
}
